/*
  Start Navigation Overlay
*/

.menuOverlay {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: var(--mobile-menu-overlay);
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0s ease 0.3s;
  transform: translate3d(100%, 0px, 0px);
}

.menuOverlayOpen {
  opacity: 1;
  transform: none;
}

.navMenu {
  position: fixed;
  right: inherit;
  z-index: 1100;
  width: 240px;
  height: 100%;
  transform: translate3d(-100%, 0px, 0px);
  transition: all 0.3s ease 0s;

  color: var(--mobile-menu-text-color);
  background-color: var(--mobile-menu-background);
}

.navMenuOpen {
  transform: none;
}

@media only screen and (min-width: 660px) {
  .menuOverlay {
    display: none;
  }

  .navMenu {
    display: none;
  }
}

/*
  End Navigation Overlay
*/

/*
  Start Layout related
*/

.hamb {
  position: fixed;
  margin-left: 2rem;
  margin-top: 3rem;
  left: 0;
  filter: var(--hamb-filter);
}

@media only screen and (min-width: 660px) {
  .hamb {
    display: none;
  }
}

/* 
  End Layout related 
*/

/*
  Start Color component
*/

.colorFigure {
  position: relative;
  border: 1px solid rgb(85, 55, 55);
  border-radius: 1rem;
  transition: all ease 0.3s;
}

.colorFigure figcaption {
  position: absolute;
  top: 5px;
  left: 5px;
}

.colorFigure p {
  position: absolute;

  top: 78%;
  left: 5px;
  font-size: 0.8rem;
  inline-size: 200px;
  overflow: hidden;
  margin: 0;
  z-index: 2;
}

.colorRect {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

.colorFigure:hover {
  transform: scale(1.2);
}

/*
  End Color component
*/
