html, body, #root {
  height: 100%;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSans-Regular"), url(assets/fonts/NotoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans-Bold";
  src: local("NotoSans-Bold"), url(assets/fonts/NotoSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans-Italic";
  src: local("NotoSans-Italic"), url(assets/fonts/NotoSans-Italic.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "NotoSans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
