.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;
  padding: 3rem 0;

  font-family: Inter;
}

.title {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

.title img {
  margin-right: 0.5rem;
}

@media only screen and (min-width: 660px) {
  .main {
    align-items: flex-start;
  }
}
